.wrapper {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.primary {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}
